*.iml
.gradle
/local.properties
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
build/
/captures
.externalNativeBuild
*.swp
*.swo
*.pyc
__pycache__
out/
node_modules/
**/logs
*.log
/dependencies/
*.csv
